<!DOCTYPE html>
<html>
<head>
    <title>{{ site.name }}{% if request.path != "/" %} | {% endif %}{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div class="header-wrapper">
        <div class="header">
            {% include 'users/blocks/user_menu.html' %}
            <a href="{% url 'base' %}" class="logo">{{ site.name }}</a>
        </div>
    </div>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="content">
        {% block header %}
        {% endblock %}
        {% block content %}
            {% for event in events %}
                <div class="event">{{ event }}</div>
            {% endfor %}
        {% endblock %}
    </div>
</body>
</html>